/* start Varibles */

/* end Varibles */

/* start global rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
}
:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --section-background: #f6f6f6;
  --main-padding: 60px;
  --main-transition: 0.3;
  --center-transform: translate(-50%, -50%);
}

/* end global rules */

/* start header */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.header {
  /* width: 500px; */
  padding: 20px;
}
.header .container {
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.header .container .logo {
  width: 60px;
}
.header .container .links {
  position: relative;
}
.header .container .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.header .container .links:hover .icon span:nth-child(2) {
  width: 100%;
}
.header .container .links:hover ul {
  display: block;
}
.header .container .links ul {
  display: none;
  list-style: none;
  text-decoration: none;
  text-decoration-line: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  width: 200px;
  z-index: 1;
  top: calc(100% + 15px);

  background-color: #eee;
}
.header .container .links:hover ul {
  display: block;
}
.header .container .links ul::before {
  content: "";
  border: 15px solid;
  border-color: transparent transparent #eee transparent;
  position: absolute;
  padding: 0px;
  margin: 0px;
  height: 0px;
  top: -30px;
  right: 5px;
}

.header .container .links ul li {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  text-decoration: none;
  transition: var(--main-transition) ease-out;
}
.header .container .links ul li:hover {
  padding-left: 20px;
}
.header .container .links ul li a {
  text-decoration: none;
  color: #333;
  text-transform: capitalize;

  font-size: large;
}
.header .container .links ul li:not(:last-child) {
  border-bottom: 1px solid #aaa;
}
.header .container .links .icon span {
  height: 2px;
  margin-bottom: 5px;

  background-color: black;
}
.header .container .links .icon span:first-child {
  width: 100%;
}
.header .container .links .icon span:nth-child(2) {
  width: 50%;
  height: 1px;
  transition: var(--main-transition);
}
.header .container .links .icon span:last-child {
  width: 100%;
}
.landing {
  background-image: url(../images/mountain\ Black\ and\ white.jpg);
  height: calc(100vh - 64px);
  position: relative;
}
.landing .intro-Text h2 {
  font-size: 50px;
  margin: 0;
  color: var(--main-color);
}
.landing .intro-Text p {
  font-size: 19px;
}
.landing .intro-Text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 320px;
  text-align: center;
  transform: var(--center-transform);
}
/* start features */
.features {
  padding: 60px 0;
  background-color: var(--section-background);
}
.features .container {
  grid-gap: 20px;
}
.features .container .feat {
  text-align: center;
  padding: 20px;
}
.features .container .feat i {
  margin-top: 30px;
  color: var(--main-color);
}
.features .container .feat h2 {
  margin: 30px 0;
  font-size: 22px;
}
.features .container .feat p {
  line-height: 1.8;
  color: #777;
  font-size: 17px;
}
/* end features */

/* start componant */
.special-heading {
  text-align: center;
  font-size: 100px;
  color: #ebeced;
  letter-spacing: -3px;
  font-weight: 800;
  margin: 0;
}
.special-heading + p {
  margin: -25px 0 0;
  font-size: 22px;
  text-align: center;
  color: #797979;
}

.grid-adding {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
/* end componant */
/* start services */
.services {
  padding-top: 60px;
  padding-bottom: 60px;
}
.services-content {
  grid-gap: 30px;
  margin-top: 80px;
}
.services-content .col .srv {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;

  /* grid-template-columns: 1fr, 3fr;
  grid-template-rows: 1fr;
  grid-area: "logo desc";
  justify-content: flex-end;
  grid-gap: 15px;*/
}
.services-content .col .srv i {
  flex-basis: 60px;
  /* grid-area: logo;
  grid-column: 1; */
  color: var(--main-color);
}
.services-content .col .srv .text {
  line-height: 1.6;
  color: #797979;
  flex: 1;
  /* margin: 0 0 40px 20px; */
}

.services-content .col .srv .text h2 {
  margin-top: 0;
}

.services-content .col .image {
  position: relative;

  text-align: center;
}
.col .image img {
  height: 350px;
  width: 260px;
}
.col .image::before {
  content: "";
  height: calc(100% + 100px);
  min-width: 80px;
  background-color: var(--secondary-color);
  top: -50px;
  right: 0px;
  position: absolute;
  z-index: -1;
}
/* end services */

html {
  scroll-behavior: smooth;
}
/* start protofolio */

.protofolio {
  background-color: var(--section-background);
  padding-top: 60px;
  padding-bottom: 60px;
}

.projects {
  margin-top: 80px;

  grid-gap: 80px;
}
.project {
  background-color: white;
  /* text-align: center; */
}

.project .image img {
  max-width: 100%;
}
.project .text {
  padding: 0 20px;
}

/* end protofolio */

/* start About */
.about {
  padding-top: var(--main-padding);
  padding-bottom: 120px;
}
.about .container .head {
  margin-bottom: 90px;
}
.about-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .about-content {
    flex-direction: column;
    text-align: center;
  }
}
.about-content .text {
  flex-basis: calc(100% - 500px);
}
.about-content .text p:first-child {
  color: #333;
  font-weight: bold;
  line-height: 1.6;
  margin: 40px 0;
}

.about-content .text hr {
  width: 50%;
  border-color: var(--main-color);
  margin: 10px 0;
}
@media (max-width: 992px) {
  .about-content .text hr {
    margin: auto;
  }
}
.about-content .text p:last-child {
  line-height: 1.6;
  color: #797979;
  margin: 40px 0;
}
.about-content .image img {
  height: 100%;
  width: 240px;
}

.about-content .image {
  position: relative;
  width: 250px;
  height: 375px;
}

@media (max-width: 992px) {
  .about-content .image {
    margin: 0 auto 60px;
  }
}

.about-content .image::before {
  content: "";
  height: calc(100% + 80px);
  top: -40px;
  width: 80px;
  left: -20px;
  background-color: #ebeced;
  position: absolute;
  z-index: -1;
}

.about-content .image::after {
  content: "";
  height: calc(100% - 73px);
  top: -40px;
  width: 100px;
  right: -150px;
  border-left: 80px solid var(--main-color);
  border-bottom: 80px solid var(--main-color);
  /* background-color: var(--main-color); */
  position: absolute;
  z-index: -1;
}
@media (max-width: 992px) {
  .about-content .image::before,
  .about-content .image::after {
    display: none;
  }
}
/* end About */

/* start Contact */
.contact {
  background-color: var(--section-background);
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  margin: 0;
}
.contact .info {
  margin-top: 80px;

  padding-top: var(--main-padding);
}
.contact .info p {
  color: var(--secondary-color);
  font-size: 35px;
  line-height: 1.8;
  margin: auto;
  text-align: center;
  font-weight: 800;
  letter-spacing: -2px;
}
.contact .info .link {
  text-align: center;
  color: var(--main-color);
  font-size: 35px;
  line-height: 1.8;
  text-decoration: none;
  font-weight: 500;
  display: block;
}
@media (max-width: 767px) {
  .contact .info .link {
    font-size: 25px;
  }
  .contact .info p {
    font-size: 25px;
  }
}
.contact .info .socail-media {
  text-align: center;
  margin: 20px;
  text-decoration: none;
}
/* end Contact */

/* start footer */
.footer {
  background-color: var(--secondary-color);
}
.copy-rights {
  text-align: center;
  padding: 30px 10px;
  font-size: 18px;
  color: white;
}
.copy-rights p {
  font-weight: 600;
  margin: 0;
}
.copy-rights p span {
  color: var(--main-color);
  margin: 0 10px;
  font-weight: bold;
  display: inline-block;
}
@media (max-width: 767px) {
  .copy-rights {
    font-size: 18px;
  }
}
/* end footer */
@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }
  .services-content .col .srv {
    flex-direction: column;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 962px;
  }
}
@media (max-width: 1199px) {
  .col .image {
    display: none;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* end Header */
